.form {
  position: relative;
}

.form::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  width: 160%;
  height: 849px;
  background-image: url("../../img/lines-decor/indr29.jpg");
  background-size: cover;
  z-index: -1;
  transform: rotate(45deg);
  opacity: 0.3;
}

.login-box {
  width: 800px;
  margin: 0 auto;
  padding: 40px;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;

  @include tablet {
    width: 90%;
  }
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.form__btn-send {
  display: flex;
  justify-content: center;
}

.form__btn-send button {
  min-width: 250px;
  height: 40px;
  border-radius: 5px;
  border: none;
}
