// ваш код
.header {
  padding: 1rem;

  .nav {
    display: flex;
    justify-content: space-between;
  }

  a {
    transition: transform 0.5s ease;
  }

  a:hover {
    transform: scale(1.1);
  }

  &__logo {
    padding: 1rem 2rem;
  }

  &__price {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $yellow-main;
    padding: 0.5rem 1rem;

    @include mobile {
      border-radius: 10px;
    }
  }

  &__logo-link {
    display: block;
    font-size: 3.5rem;
    font-family: $font-stem-medium;
    text-transform: uppercase;
    position: relative;
    transition: transform 0.5s ease;

    @include small-tablet {
      left: -5%;
      font-size: 1.5rem;
    }

    &::before {
      content: "";
      width: 100%;
      height: 90%;
      position: absolute;
      display: block;
      background-color: #ffe382;
      z-index: -1;
      left: 5%;
      rotate: -3deg;

      @include small-tablet {
        left: -5%;
      }
    }
  }

  &__logo-link:hover {
    transform: scale(1.1);
  }

  &__price-link {
    font-size: 3rem;
    font-family: $font-stem-medium;
    text-transform: uppercase;

    @include small-tablet {
      font-size: 1.5rem;
      border-radius: 10px;
    }
  }
}
