.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  top: 10%;
  border-radius: 40px 40px 0 0;
  background-color: #ffebcd;
  z-index: 100;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.modal__header {
  display: none;
  position: absolute;
  top: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 50px;
  width: 50%;
  opacity: 0.5;

  @include small-tablet {
    display: block;
  }
}

.modal__header span {
  position: relative;
  display: block;
  width: 50%;
  margin: 0 auto;
  height: 30%;
  background-color: #808080;
}

.modal__header span::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #808080;
  bottom: -10px;
}

.modal__inactive {
  opacity: 0;
  transform: scale(0.5);
  pointer-events: none;
}

.modal-form .login-box {
  @include small-tablet {
    width: 90%;
    margin: 0 auto;
  }
}

.modal__close {
  position: absolute;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  right: 2rem;
  top: 2rem;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  cursor: pointer;
}

.modal__close:hover {
  transform: scale(1.1) rotate(180deg);
}
