.questions-padding {
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.qeustions h2 {
  text-align: center;
  margin-bottom: 4rem;
}

.qeustions__list {
  list-style: none;
  display: grid;
  gap: 20px;
}

.questions__text {
  position: relative;
  font-size: 3.5rem;
  // text-align: center;
}

.questions__text::after {
  position: absolute;
  top: 11px;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ecbf6a;
  z-index: -1;
}

.questions__text::before {
  position: absolute;
  right: 10px;
  width: 30px;
  height: 30px;
  top: 11px;
  content: "";
  display: block;
  background-image: url("https://icon-library.com/images/bottom-arrow-icon/bottom-arrow-icon-27.jpg");
  background-size: cover;
}

.questions__answer {
  font-size: 2rem;
  margin-top: 1rem;
  height: 0;
  opacity: 0;
  transition: height 0.2s ease;
  transition: opacity 0.2s ease;
}

.qeustions__answer--show {
  height: 100%;
  opacity: 1;
}
