.services-slider {
  padding-top: 9rem;
  padding-bottom: 2rem;
}

.services-slider h2 {
  text-align: center;
  margin-bottom: 4rem;
}

.services-slider .swiper {
  width: 100%;
  height: 65rem;

  @include tablet {
    height: 100%;
  }

  // height: 60rem;
}

.swiper-slide-avariynyi {
  position: relative;
}

.text-slider {
  position: absolute;
  background-color: #b9ae90ed;
  color: #fff;
  width: 40%;
  font-size: 30px;
  padding: 20px;
  line-height: 50px;
}

.text-slider__avariynyi {
  top: 0;
}

.swiper-button-next,
.swiper-button-prev {
  transition: all 0.3s ease;
  color: #fff;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  transform: scale(1.3);
}

.services-slider .swiper-pagination-bullet {
  color: #fff;
}
