<div class="modal modal-form modal__inactive">
  <div class="modal__inner">
    <div class="modal__header">
      <span></span>
    </div>
    <span class="modal__close">&#x2715</span>
    <div class="form">
      <div class="login-box">
        <h2>Оставьте ваши контакты и мы свяжемся</h2>
        <form>
          <div class="user-box">
            <input type="text" name="username" />
            <label>Ваше имя</label>
          </div>
          <div class="user-box">
            <input type="tel" name="phone" />
            <label>Телефон</label>
          </div>
          <div class="form__btn-send">
            <button>Отправить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
