html {
  font-size: 10px;
}

body {
  font-family: $font-stem-light, sans-serif;
  font-weight: 500;
  line-height: 3rem;
}

.main {
  position: relative;
  overflow: hidden;
}

.main::after {
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  display: block;
  width: 163%;
  height: 1100px;
  background-image: url("../../img/lines-decor/bmqq11.jpg");
  background-position-y: center;
  background-size: cover;
  opacity: 0.3;
}

.container {
  margin: 0 auto;
  width: 80vw; /* 80 * 16px = 1280px */
  max-width: 1400px;

  @include tablet {
    width: 90vw;
  }
}

// h2::after {
//   position: absolute;
//   content: "";
//   width: 100%;

//   display: block;
//   background-color: red;
// }
