// @include font-face("Muller", "../fonts/MullerRegular", 400, normal);

@font-face {
  src: url("../fonts/Stem-Light.woff") format("woff");
  font-family: "Stem Light";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("../fonts/Stem-SemiLight.woff") format("woff");
  font-family: "Stem SemiLight";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("../fonts/Stem-Medium.woff") format("woff");
  font-family: "Stem Medium";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
