// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  // --font-family: "stem", sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --swiper-pagination-color: var(--light-color);
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;

  // colors
  --light-color: #fff;
}

$yellow-main: #ffe382;
$yellow-second: #fedb60;
$orange-main: #fb9850;
$font-stem-light: "Stem Light", sans-serif;
$font-stem-semilight: "Stem SemiLight", sans-serif;
$font-stem-medium: "Stem Medium", sans-serif;
