// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  // --font-family: "stem", sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
}

$yellow-main: #ffe382;
$yellow-second: #fedb60;
$orange-main: #fb9850;
$font-stem-light: "Stem Light", sans-serif;
$font-stem-semilight: "Stem SemiLight", sans-serif;
$font-stem-medium: "Stem Medium", sans-serif;
